* {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

body {
    background-color: hsl(240, 78%, 98%);
    background-image: url('../images/bg-top.svg'), url('../images/bg-bottom.svg');
    background-repeat: no-repeat;
    background-position: top right, left bottom;
    height: 100vh;
}

.container {
    padding-top: 5rem;
}

/*Header*/
.header {
    text-align: center;
}

.header-plan {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-price-text {
    color: hsl(233, 13%, 49%);
    margin-bottom: 2rem;
    font-size: 2.2rem;
}

.header-plan-text {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    color: hsl(233, 13%, 49%);
    font-size: 1rem;
}

/*Slider*/
.switch {
    position: relative;
    display: inline-block;
    height: 2.3rem;
    width: 4rem;
}

.switch input {
    opacity: 0;
    height: 0;
    width: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.slider:hover {
    background-image: none;
    background-color: hsl(236, 66%, 84%);
    transition: .5s ease-in-out;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.7rem;
    width: 1.7rem;
    right: 0.3rem;
    bottom: 0.3rem;
    background-color: white;
    transition: .4s;
}

input:focus+.slider {
    box-shadow: 0 0 0.15rem hsl(237, 63%, 64%);
}

input:checked+.slider:before {
    transform: translateX(-1.7rem);
}

.slider.round {
    border-radius: 2.3rem;
}

.slider.round:before {
    border-radius: 2.3rem;
}

/*Plan Container*/
.plan-container {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 4rem;
}

.basic-plan,
.master-plan,
.professional-plan {
    background-color: white;
    width: 25rem;
    height: 27rem;
    border-radius: 1rem 0 0 1rem;
    padding-top: 1.3rem;
    padding-bottom: 2rem;
}

.professional-plan {
    margin-top: -1.3rem;
    padding-top: 2.6rem;
    padding-bottom: 4rem;
    border-radius: 1rem;
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.plan-info {
    font-size: 1rem;
    color: hsl(232, 13%, 33%);
    padding: 1rem 0.7rem;
}

.plan-price {
    font-size: 4rem;
    padding: 1.3rem 1.3rem 1.3rem 0;
}

.price-div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(232, 13%, 33%);
    margin-bottom: 1rem;
}

#dollar-sign {
    font-size: 2.7rem;
    padding: 0.3rem;
    font-weight: 800;
}

hr {
    width: 20rem;
    margin: auto;
    border: none;
    border-top: 0.1rem solid hsl(240, 78%, 98%);
}

.learn-more-btn {
    margin-top: 3.3rem;
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: hsl(240, 78%, 98%);
    width: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 0.15rem solid white;
    border-radius: 0.5rem;
    cursor: pointer;
}

.learn-more-btn:hover {
    background-image: none;
    background-color: white;
    color: hsl(240, 33%, 1%);
    border: 0.15rem solid hsl(237, 63%, 64%);
    transition: .5s ease;
}

.professional-plan button {
    background-image: none;
    background-color: hsl(240, 78%, 98%);
    color: hsl(237, 63%, 64%);
    border: 0.15rem solid hsl(237, 63%, 64%);
}

.professional-plan button:hover {
    background-color: hsl(237, 63%, 64%);
    color: white;
    border: 0.15rem solid hsl(240, 78%, 98%);
    transition: .5s ease;
}

.professional-plan>.plan-info {
    color: hsl(240, 78%, 98%);
}

.professional-plan>.price-div {
    color: hsl(240, 78%, 98%);
}

.professional-plan hr {
    border: none;
    border-top: 0.1rem solid #ccc;
}

/* Media Queries*/
@media screen and (max-width:1000px) {
    body {
        background-image: url('../images/bg-top.svg');
        background-position: top right;
    }

    .plan-container {
        flex-direction: column;
        align-items: center;
    }

    .basic-plan,
    .professional-plan,
    .master-plan {
        width: 22rem;
        margin: 1.5rem 0px;
    }

    .professional-plan {
        padding-top: 1.3rem;
        padding-bottom: 2rem;
    }

    .master-plan {
        margin-bottom: 4rem;
    }
}

@media screen and (max-width:425px) {
    body {
        background-position: 12rem 0;
    }
}

@media screen and (max-width:319px) {
    hr,
    .learn-more-btn {
        width: 13rem;
    }
}